test/resources-public/sm_Synccom_senior_g5_rh_sm_historicos.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions name="g5-senior-services" targetNamespace="http://services.senior.com.br" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.senior.com.br" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://services.senior.com.br" schemaLocation="https://someserver.in.the.web:8182/g5-senior-services/sm_Synccom_senior_g5_rh_sm_historicos?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="AdicionalLocalCargo">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAdicionalLocalCargoIn"/>
	</message>
	<message name="AdicionalLocalCargoResponse">
		<part name="result" type="tns:historicosAdicionalLocalCargoOut"/>
	</message>
	<message name="DocumentosAfastamento">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosDocumentosAfastamentoIn"/>
	</message>
	<message name="DocumentosAfastamentoResponse">
		<part name="result" type="tns:historicosDocumentosAfastamentoOut"/>
	</message>
	<message name="AdicionalLocalCargo_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAdicionalLocalCargo2In"/>
	</message>
	<message name="AdicionalLocalCargo_2Response">
		<part name="result" type="tns:historicosAdicionalLocalCargo2Out"/>
	</message>
	<message name="Horario">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosHorarioIn"/>
	</message>
	<message name="HorarioResponse">
		<part name="result" type="tns:historicosHorarioOut"/>
	</message>
	<message name="Salario_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosSalario2In"/>
	</message>
	<message name="Salario_2Response">
		<part name="result" type="tns:historicosSalario2Out"/>
	</message>
	<message name="OutrosContratos">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosOutrosContratosIn"/>
	</message>
	<message name="OutrosContratosResponse">
		<part name="result" type="tns:historicosOutrosContratosOut"/>
	</message>
	<message name="CategoriaESocial">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosCategoriaESocialIn"/>
	</message>
	<message name="CategoriaESocialResponse">
		<part name="result" type="tns:historicosCategoriaESocialOut"/>
	</message>
	<message name="Contrato">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosContratoIn"/>
	</message>
	<message name="ContratoResponse">
		<part name="result" type="tns:historicosContratoOut"/>
	</message>
	<message name="AdicionalLocal">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAdicionalLocalIn"/>
	</message>
	<message name="AdicionalLocalResponse">
		<part name="result" type="tns:historicosAdicionalLocalOut"/>
	</message>
	<message name="Afastamento_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAfastamento2In"/>
	</message>
	<message name="Afastamento_2Response">
		<part name="result" type="tns:historicosAfastamento2Out"/>
	</message>
	<message name="Vinculo">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosVinculoIn"/>
	</message>
	<message name="VinculoResponse">
		<part name="result" type="tns:historicosVinculoOut"/>
	</message>
	<message name="Posto_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosPosto2In"/>
	</message>
	<message name="Posto_2Response">
		<part name="result" type="tns:historicosPosto2Out"/>
	</message>
	<message name="Filial">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosFilialIn"/>
	</message>
	<message name="FilialResponse">
		<part name="result" type="tns:historicosFilialOut"/>
	</message>
	<message name="PostoAdicional_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosPostoAdicional2In"/>
	</message>
	<message name="PostoAdicional_2Response">
		<part name="result" type="tns:historicosPostoAdicional2Out"/>
	</message>
	<message name="Anotacao">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAnotacaoIn"/>
	</message>
	<message name="AnotacaoResponse">
		<part name="result" type="tns:historicosAnotacaoOut"/>
	</message>
	<message name="Salario">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosSalarioIn"/>
	</message>
	<message name="SalarioResponse">
		<part name="result" type="tns:historicosSalarioOut"/>
	</message>
	<message name="Posto">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosPostoIn"/>
	</message>
	<message name="PostoResponse">
		<part name="result" type="tns:historicosPostoOut"/>
	</message>
	<message name="Cargo">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosCargoIn"/>
	</message>
	<message name="CargoResponse">
		<part name="result" type="tns:historicosCargoOut"/>
	</message>
	<message name="Afastamento_4">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAfastamento4In"/>
	</message>
	<message name="Afastamento_4Response">
		<part name="result" type="tns:historicosAfastamento4Out"/>
	</message>
	<message name="Escala">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosEscalaIn"/>
	</message>
	<message name="EscalaResponse">
		<part name="result" type="tns:historicosEscalaOut"/>
	</message>
	<message name="Filial_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosFilial2In"/>
	</message>
	<message name="Filial_2Response">
		<part name="result" type="tns:historicosFilial2Out"/>
	</message>
	<message name="Posto_3">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosPosto3In"/>
	</message>
	<message name="Posto_3Response">
		<part name="result" type="tns:historicosPosto3Out"/>
	</message>
	<message name="Posto_4">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosPosto4In"/>
	</message>
	<message name="Posto_4Response">
		<part name="result" type="tns:historicosPosto4Out"/>
	</message>
	<message name="Filial_4">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosFilial4In"/>
	</message>
	<message name="Filial_4Response">
		<part name="result" type="tns:historicosFilial4Out"/>
	</message>
	<message name="Adicional_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAdicional2In"/>
	</message>
	<message name="Adicional_2Response">
		<part name="result" type="tns:historicosAdicional2Out"/>
	</message>
	<message name="Cargo_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosCargo2In"/>
	</message>
	<message name="Cargo_2Response">
		<part name="result" type="tns:historicosCargo2Out"/>
	</message>
	<message name="Afastamento">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAfastamentoIn"/>
	</message>
	<message name="AfastamentoResponse">
		<part name="result" type="tns:historicosAfastamentoOut"/>
	</message>
	<message name="Adicional">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAdicionalIn"/>
	</message>
	<message name="AdicionalResponse">
		<part name="result" type="tns:historicosAdicionalOut"/>
	</message>
	<message name="PostoAdicional">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosPostoAdicionalIn"/>
	</message>
	<message name="PostoAdicionalResponse">
		<part name="result" type="tns:historicosPostoAdicionalOut"/>
	</message>
	<message name="AdicionalLocal_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAdicionalLocal2In"/>
	</message>
	<message name="AdicionalLocal_2Response">
		<part name="result" type="tns:historicosAdicionalLocal2Out"/>
	</message>
	<message name="Afastamento_3">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAfastamento3In"/>
	</message>
	<message name="Afastamento_3Response">
		<part name="result" type="tns:historicosAfastamento3Out"/>
	</message>
	<message name="AdicionalCargo">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosAdicionalCargoIn"/>
	</message>
	<message name="AdicionalCargoResponse">
		<part name="result" type="tns:historicosAdicionalCargoOut"/>
	</message>
	<message name="Estabilidade">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosEstabilidadeIn"/>
	</message>
	<message name="EstabilidadeResponse">
		<part name="result" type="tns:historicosEstabilidadeOut"/>
	</message>
	<message name="Estabilidade_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosEstabilidade2In"/>
	</message>
	<message name="Estabilidade_2Response">
		<part name="result" type="tns:historicosEstabilidade2Out"/>
	</message>
	<message name="Filial_3">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosFilial3In"/>
	</message>
	<message name="Filial_3Response">
		<part name="result" type="tns:historicosFilial3Out"/>
	</message>
	<message name="Funcao">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosFuncaoIn"/>
	</message>
	<message name="FuncaoResponse">
		<part name="result" type="tns:historicosFuncaoOut"/>
	</message>
	<message name="Funcao_2">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosFuncao2In"/>
	</message>
	<message name="Funcao_2Response">
		<part name="result" type="tns:historicosFuncao2Out"/>
	</message>
	<message name="Local">
		<part name="user" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="encryption" type="xsd:int"/>
		<part name="parameters" type="tns:historicosLocalIn"/>
	</message>
	<message name="LocalResponse">
		<part name="result" type="tns:historicosLocalOut"/>
	</message>
	<portType name="sm_Synccom_senior_g5_rh_sm_historicos">
		<operation name="AdicionalLocalCargo" parameterOrder="user password encryption parameters">
			<input message="tns:AdicionalLocalCargo" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocalCargoRequest"/>
			<output message="tns:AdicionalLocalCargoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocalCargoResponse"/>
		</operation>
		<operation name="DocumentosAfastamento" parameterOrder="user password encryption parameters">
			<input message="tns:DocumentosAfastamento" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/DocumentosAfastamentoRequest"/>
			<output message="tns:DocumentosAfastamentoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/DocumentosAfastamentoResponse"/>
		</operation>
		<operation name="AdicionalLocalCargo_2" parameterOrder="user password encryption parameters">
			<input message="tns:AdicionalLocalCargo_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocalCargo_2Request"/>
			<output message="tns:AdicionalLocalCargo_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocalCargo_2Response"/>
		</operation>
		<operation name="Horario" parameterOrder="user password encryption parameters">
			<input message="tns:Horario" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/HorarioRequest"/>
			<output message="tns:HorarioResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/HorarioResponse"/>
		</operation>
		<operation name="Salario_2" parameterOrder="user password encryption parameters">
			<input message="tns:Salario_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Salario_2Request"/>
			<output message="tns:Salario_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Salario_2Response"/>
		</operation>
		<operation name="OutrosContratos" parameterOrder="user password encryption parameters">
			<input message="tns:OutrosContratos" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/OutrosContratosRequest"/>
			<output message="tns:OutrosContratosResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/OutrosContratosResponse"/>
		</operation>
		<operation name="CategoriaESocial" parameterOrder="user password encryption parameters">
			<input message="tns:CategoriaESocial" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/CategoriaESocialRequest"/>
			<output message="tns:CategoriaESocialResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/CategoriaESocialResponse"/>
		</operation>
		<operation name="Contrato" parameterOrder="user password encryption parameters">
			<input message="tns:Contrato" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/ContratoRequest"/>
			<output message="tns:ContratoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/ContratoResponse"/>
		</operation>
		<operation name="AdicionalLocal" parameterOrder="user password encryption parameters">
			<input message="tns:AdicionalLocal" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocalRequest"/>
			<output message="tns:AdicionalLocalResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocalResponse"/>
		</operation>
		<operation name="Afastamento_2" parameterOrder="user password encryption parameters">
			<input message="tns:Afastamento_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Afastamento_2Request"/>
			<output message="tns:Afastamento_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Afastamento_2Response"/>
		</operation>
		<operation name="Vinculo" parameterOrder="user password encryption parameters">
			<input message="tns:Vinculo" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/VinculoRequest"/>
			<output message="tns:VinculoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/VinculoResponse"/>
		</operation>
		<operation name="Posto_2" parameterOrder="user password encryption parameters">
			<input message="tns:Posto_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Posto_2Request"/>
			<output message="tns:Posto_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Posto_2Response"/>
		</operation>
		<operation name="Filial" parameterOrder="user password encryption parameters">
			<input message="tns:Filial" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/FilialRequest"/>
			<output message="tns:FilialResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/FilialResponse"/>
		</operation>
		<operation name="PostoAdicional_2" parameterOrder="user password encryption parameters">
			<input message="tns:PostoAdicional_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/PostoAdicional_2Request"/>
			<output message="tns:PostoAdicional_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/PostoAdicional_2Response"/>
		</operation>
		<operation name="Anotacao" parameterOrder="user password encryption parameters">
			<input message="tns:Anotacao" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AnotacaoRequest"/>
			<output message="tns:AnotacaoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AnotacaoResponse"/>
		</operation>
		<operation name="Salario" parameterOrder="user password encryption parameters">
			<input message="tns:Salario" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/SalarioRequest"/>
			<output message="tns:SalarioResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/SalarioResponse"/>
		</operation>
		<operation name="Posto" parameterOrder="user password encryption parameters">
			<input message="tns:Posto" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/PostoRequest"/>
			<output message="tns:PostoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/PostoResponse"/>
		</operation>
		<operation name="Cargo" parameterOrder="user password encryption parameters">
			<input message="tns:Cargo" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/CargoRequest"/>
			<output message="tns:CargoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/CargoResponse"/>
		</operation>
		<operation name="Afastamento_4" parameterOrder="user password encryption parameters">
			<input message="tns:Afastamento_4" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Afastamento_4Request"/>
			<output message="tns:Afastamento_4Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Afastamento_4Response"/>
		</operation>
		<operation name="Escala" parameterOrder="user password encryption parameters">
			<input message="tns:Escala" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/EscalaRequest"/>
			<output message="tns:EscalaResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/EscalaResponse"/>
		</operation>
		<operation name="Filial_2" parameterOrder="user password encryption parameters">
			<input message="tns:Filial_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Filial_2Request"/>
			<output message="tns:Filial_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Filial_2Response"/>
		</operation>
		<operation name="Posto_3" parameterOrder="user password encryption parameters">
			<input message="tns:Posto_3" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Posto_3Request"/>
			<output message="tns:Posto_3Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Posto_3Response"/>
		</operation>
		<operation name="Posto_4" parameterOrder="user password encryption parameters">
			<input message="tns:Posto_4" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Posto_4Request"/>
			<output message="tns:Posto_4Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Posto_4Response"/>
		</operation>
		<operation name="Filial_4" parameterOrder="user password encryption parameters">
			<input message="tns:Filial_4" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Filial_4Request"/>
			<output message="tns:Filial_4Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Filial_4Response"/>
		</operation>
		<operation name="Adicional_2" parameterOrder="user password encryption parameters">
			<input message="tns:Adicional_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Adicional_2Request"/>
			<output message="tns:Adicional_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Adicional_2Response"/>
		</operation>
		<operation name="Cargo_2" parameterOrder="user password encryption parameters">
			<input message="tns:Cargo_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Cargo_2Request"/>
			<output message="tns:Cargo_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Cargo_2Response"/>
		</operation>
		<operation name="Afastamento" parameterOrder="user password encryption parameters">
			<input message="tns:Afastamento" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AfastamentoRequest"/>
			<output message="tns:AfastamentoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AfastamentoResponse"/>
		</operation>
		<operation name="Adicional" parameterOrder="user password encryption parameters">
			<input message="tns:Adicional" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalRequest"/>
			<output message="tns:AdicionalResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalResponse"/>
		</operation>
		<operation name="PostoAdicional" parameterOrder="user password encryption parameters">
			<input message="tns:PostoAdicional" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/PostoAdicionalRequest"/>
			<output message="tns:PostoAdicionalResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/PostoAdicionalResponse"/>
		</operation>
		<operation name="AdicionalLocal_2" parameterOrder="user password encryption parameters">
			<input message="tns:AdicionalLocal_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocal_2Request"/>
			<output message="tns:AdicionalLocal_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalLocal_2Response"/>
		</operation>
		<operation name="Afastamento_3" parameterOrder="user password encryption parameters">
			<input message="tns:Afastamento_3" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Afastamento_3Request"/>
			<output message="tns:Afastamento_3Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Afastamento_3Response"/>
		</operation>
		<operation name="AdicionalCargo" parameterOrder="user password encryption parameters">
			<input message="tns:AdicionalCargo" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalCargoRequest"/>
			<output message="tns:AdicionalCargoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/AdicionalCargoResponse"/>
		</operation>
		<operation name="Estabilidade" parameterOrder="user password encryption parameters">
			<input message="tns:Estabilidade" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/EstabilidadeRequest"/>
			<output message="tns:EstabilidadeResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/EstabilidadeResponse"/>
		</operation>
		<operation name="Estabilidade_2" parameterOrder="user password encryption parameters">
			<input message="tns:Estabilidade_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Estabilidade_2Request"/>
			<output message="tns:Estabilidade_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Estabilidade_2Response"/>
		</operation>
		<operation name="Filial_3" parameterOrder="user password encryption parameters">
			<input message="tns:Filial_3" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Filial_3Request"/>
			<output message="tns:Filial_3Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Filial_3Response"/>
		</operation>
		<operation name="Funcao" parameterOrder="user password encryption parameters">
			<input message="tns:Funcao" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/FuncaoRequest"/>
			<output message="tns:FuncaoResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/FuncaoResponse"/>
		</operation>
		<operation name="Funcao_2" parameterOrder="user password encryption parameters">
			<input message="tns:Funcao_2" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Funcao_2Request"/>
			<output message="tns:Funcao_2Response" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/Funcao_2Response"/>
		</operation>
		<operation name="Local" parameterOrder="user password encryption parameters">
			<input message="tns:Local" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/LocalRequest"/>
			<output message="tns:LocalResponse" wsam:Action="http://services.senior.com.br/sm_Synccom_senior_g5_rh_sm_historicos/LocalResponse"/>
		</operation>
	</portType>
	<binding name="sm_Synccom_senior_g5_rh_sm_historicosPortBinding" type="tns:sm_Synccom_senior_g5_rh_sm_historicos">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AdicionalLocalCargo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="DocumentosAfastamento">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="AdicionalLocalCargo_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Horario">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Salario_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="OutrosContratos">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="CategoriaESocial">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Contrato">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="AdicionalLocal">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Afastamento_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Vinculo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Posto_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Filial">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="PostoAdicional_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Anotacao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Salario">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Posto">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Cargo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Afastamento_4">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Escala">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Filial_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Posto_3">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Posto_4">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Filial_4">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Adicional_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Cargo_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Afastamento">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Adicional">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="PostoAdicional">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="AdicionalLocal_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Afastamento_3">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="AdicionalCargo">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Estabilidade">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Estabilidade_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Filial_3">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Funcao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Funcao_2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
		<operation name="Local">
			<soap:operation soapAction=""/>
			<input>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</input>
			<output>
				<soap:body namespace="http://services.senior.com.br" use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="g5-senior-services">
		<port binding="tns:sm_Synccom_senior_g5_rh_sm_historicosPortBinding" name="sm_Synccom_senior_g5_rh_sm_historicosPort">
			<soap:address location="https://someserver.in.the.web:8182/g5-senior-services/sm_Synccom_senior_g5_rh_sm_historicos"/>
		</port>
	</service>
</definitions>