test/resources/jaxws_generated_service/TestService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://test.wsdl.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test.wsdl.it/" name="TestService">
<types>
<xsd:schema>
<xsd:import namespace="http://test.wsdl.it/" schemaLocation="TestService.xsd"/>
</xsd:schema>
</types>
<message name="addNumber">
<part name="parameters" element="tns:addNumber"/>
</message>
<message name="addNumberResponse">
<part name="parameters" element="tns:addNumberResponse"/>
</message>
<message name="complexFunction">
<part name="parameters" element="tns:complexFunction"/>
</message>
<message name="complexFunctionResponse">
<part name="parameters" element="tns:complexFunctionResponse"/>
</message>
<message name="simpleFunction1">
<part name="parameters" element="tns:simpleFunction1"/>
</message>
<message name="simpleFunction1Response">
<part name="parameters" element="tns:simpleFunction1Response"/>
</message>
<message name="simpleFunction2">
<part name="parameters" element="tns:simpleFunction2"/>
</message>
<message name="simpleFunction2Response">
<part name="parameters" element="tns:simpleFunction2Response"/>
</message>
<portType name="TestService">
<operation name="addNumber">
<input wsam:Action="http://test.wsdl.it/TestService/addNumberRequest" message="tns:addNumber"/>
<output wsam:Action="http://test.wsdl.it/TestService/addNumberResponse" message="tns:addNumberResponse"/>
</operation>
<operation name="complexFunction">
<input wsam:Action="http://test.wsdl.it/TestService/complexFunctionRequest" message="tns:complexFunction"/>
<output wsam:Action="http://test.wsdl.it/TestService/complexFunctionResponse" message="tns:complexFunctionResponse"/>
</operation>
<operation name="simpleFunction1">
<input wsam:Action="http://test.wsdl.it/TestService/simpleFunction1Request" message="tns:simpleFunction1"/>
<output wsam:Action="http://test.wsdl.it/TestService/simpleFunction1Response" message="tns:simpleFunction1Response"/>
</operation>
<operation name="simpleFunction2">
<input wsam:Action="http://test.wsdl.it/TestService/simpleFunction2Request" message="tns:simpleFunction2"/>
<output wsam:Action="http://test.wsdl.it/TestService/simpleFunction2Response" message="tns:simpleFunction2Response"/>
</operation>
</portType>
<binding name="TestPortBinding" type="tns:TestService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="complexFunction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="simpleFunction1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="simpleFunction2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestService">
<port name="TestPort" binding="tns:TestPortBinding">
<soap:address location="https://xdax.com/CenturyServer/TestService"/>
</port>
</service>
</definitions>